extends layout

block content
  h1 David's recipes

  if categories.length
    each category in categories
      p
        a(href='/category/' + category.shortName)= category.name
  else
    p No categories yet :(